absl-py==0.7.1
astor==0.8.0
better-exceptions==0.2.2
blessings==1.7
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
dlib==19.19.0
gast==0.2.2
gpustat==0.6.0
grpcio==1.21.1
h5py==2.9.0
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.4.1
imgaug==0.3.0
imutils==0.5.2
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keras-segmentation==0.3.0
keras-unet==0.0.7
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.3
meshio==3.2.15
mock==3.0.5
networkx==2.3
notify2==0.3.1
numpy==1.17.2
nvidia-ml-py3==7.352.0
opencv-python==4.1.2.30
opencv-python-headless==4.1.2.30
pandas==0.25.3
pathlib==1.0.1
Pillow==6.0.0
progressbar2==3.39.3
protobuf==3.11.0
psutil==5.6.3
pydot==1.4.1
pyparsing==2.4.0
python-dateutil==2.8.0
python-utils==2.3.0
python-vtk==0.0.0
pytz==2019.3
PyWavelets==1.0.3
PyYAML==5.1
requests==2.22.0
scikit-image==0.15.0
scikit-learn==0.22
scipy==1.4.1
Shapely==1.6.4.post2
six==1.12.0
tensorboard==1.13.1
tensorboardX==1.9
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
Theano==1.0.4
torch==1.3.1+cu92
torchvision==0.4.2+cu92
tqdm==4.38.0
urllib3==1.25.3
vtk==8.1.2
Werkzeug==0.15.4
xgboost==0.90